service vendor.touch-hal-1-0 /vendor/bin/hw/vendor.xperience.touch@1.0-service.xiaomi
    interface vendor.xperience.touch@1.0::IHighTouchPollingRate default
    class hal
    user system
    group system
